@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap");
@font-face {
  font-family: FontdinerSwanky-Regular;
  src: url("../fonts/FontdinerSwanky-Regular.ttf"); }
@font-face {
  font-family: Play-Regular;
  src: url("../fonts/Play-Regular.ttf"); }
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  border: 0.1px solid #033b1d;
  border-radius: 15px 15px 0 0;
  background: #58764a;
  height: 50px;
  padding-left: 24px;
  padding-right: 24px;
  box-shadow: 5px 8px 10px #012913; }
  header .dropdown {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 30px;
    background-color: #698c58;
    border: 0.5px solid #3b5e29;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #243e16; }
    header .dropdown .account__login, header .dropdown .fa-sort-down {
      padding-left: 10pt; }
    header .dropdown p {
      margin: 5px 0;
      text-align: center;
      color: #e9f29b; }
    header .dropdown .account__arrow {
      margin: 0; }
    header .dropdown .dropdown__list {
      position: absolute;
      display: none;
      width: 100%;
      list-style-type: none;
      padding: 0;
      margin: 3px 0;
      background-color: #ffffff;
      box-sizing: border-box;
      border-radius: 0 0 10px 10px; }
  header .dropdown:hover .dropdown__list {
    display: block;
    width: 150px; }
  header .dropdown:hover .dropdown__list li {
    width: 150px;
    text-align: center;
    padding: 10px 0; }
    header .dropdown:hover .dropdown__list li a {
      text-decoration: none;
      color: #18271b; }

.dropdown:hover .dropdown__list {
  display: block;
  width: 130px; }

.dropdown:hover .dropdown__list li {
  width: 130px; }

.account {
  width: 200px; }

.login-form .photo-sequence {
  padding: 5px 0;
  margin-top: 10px;
  margin-bottom: 20px;
  border-top: 1px solid #355723;
  border-bottom: 1px solid #355723; }
.login-form form {
  display: flex;
  flex-direction: column; }
  .login-form form label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: Play-Regular;
    color: #232323; }
  .login-form form input {
    height: 25px;
    font-family: Play-Regular;
    border-radius: 5px;
    border: solid 1px #355723;
    outline: #8d968a; }
  .login-form form #login {
    margin-top: 20px; }
  .login-form form .button-login {
    margin-top: 40px;
    background: #698c58;
    border-radius: 5px;
    border: #355723;
    height: 35px;
    font-size: 18px;
    outline: black;
    color: #fefac0;
    box-shadow: 2px 2px 3px #062515;
    text-shadow: 2px 2px 2px #062515; }
  .login-form form #link-registration {
    border-top: 1px solid #355723;
    text-align: center;
    margin-top: 30px;
    padding-top: 15px; }
    .login-form form #link-registration a {
      color: #72bb53; }

.registration-form .photo-sequence {
  padding: 5px 0;
  margin-top: 10px;
  margin-bottom: 20px;
  border-top: 1px solid #355723;
  border-bottom: 1px solid #355723; }
.registration-form form {
  display: flex;
  flex-direction: column; }
  .registration-form form label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: Play-Regular;
    color: #232323; }
  .registration-form form input {
    height: 25px;
    font-family: Play-Regular;
    border-radius: 5px;
    border: solid 1px #355723;
    outline: #8d968a; }
  .registration-form form #link-login {
    border-top: 1px solid #355723;
    text-align: center;
    margin-top: 15px;
    padding-top: 15px; }
    .registration-form form #link-login a {
      color: #72bb53; }
  .registration-form form .button-registration {
    margin-top: 30px;
    background: #698c58;
    border-radius: 5px;
    border: #355723;
    height: 35px;
    font-size: medium;
    outline: black;
    color: #fefac0;
    box-shadow: 2px 2px 3px #062515;
    text-shadow: 2px 2px 2px #062515; }

.list__tests {
  display: flex;
  justify-content: space-around; }
  .list__tests .list__left, .list__tests .list__right {
    display: flex;
    flex-direction: column; }
    .list__tests .list__left .theme, .list__tests .list__right .theme {
      margin: 15px 0;
      display: flex;
      align-items: center;
      width: 220px;
      height: 70px;
      background-color: #698c58;
      border: 1px solid #355723;
      border-radius: 10px; }
      .list__tests .list__left .theme p, .list__tests .list__right .theme p {
        font-size: 24px;
        padding-left: 20px; }
      .list__tests .list__left .theme img, .list__tests .list__right .theme img {
        color: #192a0f;
        filter: opacity(75%); }
      .list__tests .list__left .theme p, .list__tests .list__right .theme p {
        color: #fefac0; }

#my-records {
  margin: 0; }

.records {
  border: 1px solid #1e2919;
  border-collapse: collapse;
  font-size: 18px;
  width: 450px;
  margin: auto; }
  .records .table-thems {
    text-align: start;
    padding: 8px 0 8px 20px;
    background-color: #698c58;
    color: #fefac0;
    text-shadow: 1px 1px 2px #062515; }
  .records .table-title .table-title-thems {
    background-color: #698c58;
    color: #fefac0;
    text-shadow: 1px 1px 2px #062515; }
  .records .table-title .table-points, .records .table-title .table-date {
    color: #58764a;
    padding: 8px 10px;
    width: 125px; }
  .records tr th {
    border: 1px solid #24311f; }

.questions__count {
  transform: translateY(-20px);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #243e16;
  color: #355723; }
  .questions__count .thems__test {
    text-transform: capitalize;
    padding-top: 5px;
    margin: 10px 0; }
  .questions__count .questions__tracker {
    font-style: italic; }

.theme__question {
  transform: translateY(-20px);
  margin-top: 0;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
  color: #192b10;
  list-style-type: none; }
  .theme__question .test__question {
    height: 70px; }

.pair__values {
  display: flex;
  justify-content: space-around; }

.test__answer {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
  list-style-type: none; }
  .test__answer li {
    display: flex; }
    .test__answer li img {
      margin: 10px 15px 5px 5px;
      width: auto;
      height: 120px; }

.test__answer__text {
  list-style-type: none;
  width: 100%;
  padding: 20px 0 25px 0; }
  .test__answer__text li {
    display: flex;
    margin: 0; }
    .test__answer__text li input {
      margin: 20px 20px 0 0; }
    .test__answer__text li .box__answer {
      width: 400px;
      height: 40px;
      background-color: white;
      border: 1px solid #627a56;
      border-radius: 7px;
      font-size: 16px;
      margin: 10px 0;
      padding: 0 5px 0 10px; }

.footer {
  transform: translateY(-40px);
  margin: 0;
  padding: 0; }

.empty {
  height: 0px; }

.img__test {
  display: flex;
  flex-direction: column;
  padding-left: 0; }

.navigator {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 5px 20px;
  border-top: 1px solid grey; }
  .navigator .accept {
    width: 160px;
    height: 40px;
    margin-left: 150px;
    background-color: #3f654f;
    color: #fefac0;
    border-radius: 10px;
    font-size: 18px;
    outline: none; }

.progress__bar {
  z-index: 2;
  width: 20px;
  background-color: #f0946f;
  height: 3px;
  margin: 0;
  padding: 0; }

.test__form {
  overflow: hidden; }

.records__test {
  border: 1px solid #1e2919;
  border-collapse: collapse;
  font-size: 14px;
  width: 450px;
  margin: auto; }
  .records__test tr th {
    border: 1px solid #24311f;
    color: #58764a;
    padding: 8px 10px;
    width: 125px; }

.test__result {
  margin: 0 0 10px 0;
  padding-left: 10px; }

.account__buttons {
  display: flex;
  width: 195px;
  margin: 0;
  justify-content: space-between; }

.button__registration, .button__login {
  text-decoration: none;
  text-align: center;
  padding: 5px 15px 0 15px;
  background: #698c58;
  font-family: Play-Regular;
  border-radius: 3px;
  border: #355723;
  height: 25px;
  box-shadow: 2px 2px 3px #062515;
  color: #fef8a0;
  font-size: 15px; }

.button__registration:hover, .button__login:hover {
  transform: translateY(-1px);
  background: #729e5c; }

.button__value {
  outline: none;
  height: 35px;
  width: 165px;
  margin: 10px 20px 10px 30px;
  box-shadow: 2px 2px 3px #062515;
  padding-top: 5px;
  padding-left: 25px;
  background-color: #fefac0;
  border-radius: 2px;
  border: #355723;
  text-decoration: none;
  font-size: 20px;
  color: #355723; }

.button__value:hover {
  transform: translateY(-1px);
  background-color: #fcf485;
  cursor: pointer; }

.button-tests {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around; }
  .button-tests .button-test, .button-tests .button-new-test {
    text-decoration: none;
    background-color: #698c58;
    border: 1px solid #355723;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    box-shadow: 2px 2px 2px #16240e;
    font-size: 18px;
    text-shadow: 2px 2px 2px #062515;
    color: #fefac0;
    text-align: center;
    padding-top: 10px; }

.button:hover {
  transform: translateY(-1px);
  background: #729e5c;
  cursor: pointer; }

label:hover {
  cursor: pointer; }

html, body {
  margin: 0;
  padding: 0;
  font-family: Play-Regular; }
  html h1, body h1 {
    margin: 0;
    font-family: FontdinerSwanky-Regular;
    text-shadow: 2px 2px black;
    font-size: 30px; }
    html h1 a, body h1 a {
      text-decoration: none;
      color: #e9f29b; }

body {
  background: #89b175;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }

form {
  padding-bottom: 0; }

.container {
  display: flex;
  flex-direction: column;
  background: #f7fade;
  padding: 24px;
  overflow-y: auto;
  width: 500px;
  height: 470px;
  border-radius: 0 0 15px 15px;
  box-shadow: 5px 5px 10px #012913; }
  .container h2 {
    font-size: 30px;
    text-align: center;
    margin: 0 0 15px;
    color: #36492d; }
  .container .arrows {
    padding-left: 234px;
    color: #698c58;
    filter: opacity(75%); }

.main__field {
  width: 450px;
  height: 450px;
  background-color: #58764a;
  margin-left: 25px;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid #263b30; }
  .main__field .field__question p {
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 10px 0; }
  .main__field .field__question img {
    border-radius: 10px 10px 0 0; }
  .main__field .field__value {
    display: flex;
    margin-left: 5px;
    padding-top: 15px; }
    .main__field .field__value .pair__values {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }

.field__answer {
  width: 400px;
  margin-top: 80px;
  margin-left: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #2c4b1b;
  border-radius: 10px;
  background-color: white;
  color: #355723;
  text-align: center;
  font-size: 28px; }
  .field__answer a {
    color: #355723; }
  .field__answer #grade {
    color: #5eaf3e; }
  .field__answer #wrong {
    color: #aa1616; }

/*# sourceMappingURL=styles.css.map */
