@font-face {
    font-family: FontdinerSwanky-Regular;
    src: url('../fonts/FontdinerSwanky-Regular.ttf');
   }

   @font-face {
    font-family: Play-Regular;
    src: url('../fonts/Play-Regular.ttf'); 
   }

   @import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
   @import "styles-header.scss";
   @import "styles-login.scss";
   @import "styles-registration.scss";
   @import "styles-list-tests.scss";
   @import "styles-area.scss";
   @import "styles-test.scss";
   @import "styles-result-test.scss";
   @import "styles-buttons-main.scss";


html, body {
    margin: 0;
    padding: 0;
    font-family: Play-Regular;
    h1{
        margin: 0;
        font-family: FontdinerSwanky-Regular;
        text-shadow: 2px 2px black;
        font-size: 30px;
        a {
            text-decoration: none;
            color: #e9f29b;
        }
    }
    a {
        text-decoration: underline;
        cursor: pointer;
    }
}

body {
    background: #89b175;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    padding-bottom: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background: #f7fade;
    padding: 24px;
    overflow-y: auto;
    width: 500px;
    height: 470px;
    border-radius: 0 0 15px 15px;
    box-shadow: 5px 5px 10px #012913;
    h2 {
        font-size: 30px;
        text-align: center;
        margin: 0 0 15px;
        color: #36492d;
    }
    .arrows {
        padding-left: 234px;
        color:  #698c58;
        filter: opacity(75%);
    }
}

.main__field {
    width: 450px;
    height: 450px;
    background-color: #58764a;
    margin-left: 25px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #263b30;
    .field__question {
        p {
            color: white;
            font-size: 40px;
            text-align: center;
            margin: 10px 0;

        }
     
        img {
            border-radius: 10px 10px 0 0;
        }
    }
    .field__value {
        display: flex;
        margin-left: 5px;
        padding-top: 15px;
        .pair__values {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

.field__answer {
    width: 400px;
    margin-top: 80px;
    margin-left: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #2c4b1b;
    border-radius: 10px;
    background-color: white;
    color: #355723;
    text-align: center;
    font-size: 28px;
    a{
        color: #355723;
    }
    #grade {
        color: #5eaf3e;
    }
    #wrong {
        color: rgb(170, 22, 22);
    }
}



