#my-records {
    margin: 0;
}
.records {
    border: 1px solid #1e2919;
    border-collapse: collapse;
    font-size: 18px;
    width: 450px;
    margin: auto;

    .table-thems {
        text-align: start;
        padding: 8px 0 8px 20px;
        background-color: #698c58;
        color: #fefac0;
        text-shadow: 1px 1px 2px #062515;
    }
    .table-title {
        .table-title-thems {
            background-color: #698c58;
            color: #fefac0;
            text-shadow: 1px 1px 2px #062515;
        }
        .table-points,  .table-date {
            color: #58764a;
            padding: 8px 10px;
            width: 125px;
        }
    }
    tr {
        th {
            border: 1px solid #24311f;
        }
    }
}
