.questions__count {
    transform: translateY(-20px);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #243e16;
    color: #355723;
    .thems__test {
        text-transform: capitalize;
        padding-top: 5px;
        margin: 10px 0;
    }
    .questions__tracker {
        font-style: italic;
    }
}

.theme__question {
    transform: translateY(-20px);
    margin-top: 0;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: #192b10;
    list-style-type: none;
    .test__question {
        height: 70px;
    }
}
.pair__values {
    display: flex;
    justify-content: space-around;
}
.test__answer {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
    list-style-type: none;
    li {
        display: flex;
        img {
            margin: 10px 15px 5px 5px;
            width: auto;
            height: 120px;
        }
    }
}

.test__answer__text {
    list-style-type: none;
    width: 100%;
    padding: 20px 0 25px 0;
    li {
        display: flex;
        margin: 0;

        input {
            margin: 20px 20px 0 0;
        }
        .box__answer {
            width: 400px;
            height: 40px;
            background-color: white;
            border: 1px solid #627a56;
            border-radius: 7px;
            font-size: 16px;
            margin: 10px 0;
            padding: 0 5px 0 10px;;
        }
    }
}
.footer {
    transform: translateY(-40px);
    margin: 0;
    padding: 0;
}
.empty {
    height: 0px;
}
.img__test {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.navigator {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 5px 20px;
    border-top: 1px solid grey;
    .accept {
        width: 160px;
        height: 40px;
        margin-left: 150px;
        background-color: #3f654f;
        color: #fefac0;
        border-radius: 10px;
        font-size: 18px;
        outline: none;
    }
}

.progress__bar {
    z-index: 2;
    width: 25px;
    background-color: rgb(240, 148, 111);
    height: 3px;
    margin: 0;
    padding: 0;
}

.test__form {
    overflow: hidden;
}


.answer1:hover {
    background-color: gray;
}